<%= form_with(model: @user, local: true) do |f| %>
  <div class="container">
    <div class="row">
      <h3>ユーザ情報を更新する</h3>
      <%= f.submit "更新する" %>
      <hr>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="field_section">

          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
              <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>


          <div class="field">
            <%= f.label :ユーザ名 %><br>
            <%= f.text_field :name, size: "30" %>
          </div>

          <br>

          <div class="field">
            <%= f.label :メールアドレス %><br>
            <%= f.email_field :email, size: "30"  %>
          </div>
          <br>

          <div class="field">
            <%= f.label :プロフィール画像 %><br>
            <%= f.file_field :profile_image %>
            <%= f.hidden_field :profile_image_cache %>
          </div>
          <br>
        </div>
      </div>

      <div class="col-xs-12 col-sm-7 col-md-7">
        <div class="field_section">
          <strong><h4>アレルギー食材</h4></strong>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>材料</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <%= f.nested_fields_for :user_allergies, wrapper_tag: :tr do |q| %>
                  <td><%= q.text_field   :allergy_food, class: 'form-control' %></td>
                  <td><%= q.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
          <%= f.add_nested_fields_link :user_allergies, 'Add new', class: 'btn btn-primary', role: 'button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%#= form_with(model: [@user_allergies], local: true) do |f| %>
  <%#= f.text_field :allergy_genre, :size=> "70", :placeholder=>"アレルギージャンル" %>
<%# end %>
