<div class="container">
  <div class="row">
    <h1>プロフィール</h1>
    <div class="col-xs-12 col-sm-3 col-md-3">

      <h3><%= @user.name %>さん </h3>

      <%= image_tag @user.profile_image, alt: "No Image" %>
      <% if current_user.id == @user.id %>
        <%= link_to 'ユーザー情報を編集する', edit_user_path, class: 'btn btn-prymary' %>
      <% end %>

    </div>

    <div class="col-xs-12 col-sm-1 col-md-1">
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8">
      <h3>
        <%= link_to "#{@user.name}さんのレシピ", recipes_path(id: @user.id, my_recipe: true)  %>
         &nbsp;&nbsp;&nbsp; <%= link_to 'お気に入りレシピ', favorite_path(current_user.id) %>
      </h3>
      <hr>

      <% if current_user.id == @user.id %>

        <h3>メールアドレス</h3>
        <p> <%= @user.email %></p>

        <hr>
        <h3>アレルギー食材</h3>
        <% @user.user_allergies.each do |user_allergie| %>
          ・<%= user_allergie.allergy_food %><br>
        <% end %>
      <% end %>
      <hr>
    </div>
  </div>
</div>
